/*  #BA181B red1 
    #E5383B red2 
    #0B090A black1
    #161A1D black2 
    #FFFFFF white1 
    #F5F3F4 white2 
    #F5F3F4 white3  */


/* Genérico */
body{
    font-family: 'Epilogue', sans-serif;
    color: #0B090A;
}

.btn{
    padding: 20px 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1.1rem;
}

.btn-sm{
    padding: 12px 24px;
    font-size: 0.9rem;  
}

.btn-primary{
    background-color: #BA181B;
}

.btn-outline{
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.overtitle{
    color: #E5383B;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.title{
    font-size: 2.75rem;
    line-height: 56px;
    font-weight: 700;
}

/* Layout especifico */
#header-container{
    background-color:#0B090A;
}

.header{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 72px;
}

/* HERO SECTION */

#hero-container{
    background-color: #0B090A;
    color: #FFFFFF;
    padding: 0px 72px;
}

.hero{
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero-img{
    flex:1;
    align-self: flex-end;
}

.hero-text{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 96px 0px;
    gap: 16px;
}

.hero-img img{
    max-width: 100%;
}

.hero-text__title{
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
}

.hero-text__subtitle{
    font-size: 20px;
    line-height: 28px;
    max-width: 520px;
}

/* Service section */

#services-container{
    padding: 96px 72px;
}

.services-list{
    margin-top: 48px;
    display: flex;
    gap: 32px;
}

.service-card{
    background-color: #F5F3F4;
    border: 2px solid #D3D3D3;
}

.service-card img{
    width: 100%;
}

.service-card__text{
    padding: 32px;
}

.service-card__text h3{
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}

.service-card__text p{
    font-size: 1rem;
    line-height: 24px;
}

